{% extends "base.html" %}

{% block title %}
    博客列表
{% endblock title %}

{% block active %}
    active
{% endblock active %}

{% block content %}

    {% if blog_list.count %}
        这里一共有 {{ blog_list | length }} 篇博客
    {% endif %}
    
    {% for blog in blog_list %}
        <h2><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
        <p>作者：{{ blog.author }}</p>
        <p>创建时间：{{ blog.create_time | date:"Y-m-d H:m:s" }}</p>
        <p>分类：
            <a href="{% url 'blog_type_selected' blog.blog_type.pk %}">
                {{ blog.blog_type }}
            </a>
        </p>
        <p>{{ blog.content | truncatechars:30 }}</p>
    {% empty %}
        这里还没有博客哦！快去添加吧！
    {% endfor %}
    
{% endblock content %}
