@charset "UTF-8";
/**
 * 
 * @authors warlock921 (caoyu921@163.com)
 * @date    2018-04-12 09:11:06
 * @version $Id$
 */

* {
    margin:0;
    padding: 0;
}

body.base-body {
    margin: 5em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    /*border-bottom: 1px solid #eee;*/
}

h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "HYYaKuHeiW";
}

img.home-img {
    margin-right: 0.5em;
    max-width: 2em
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.blog-content-list {
    margin-bottom: 0em;
}

 .navbar-default {
    background-color: #f8f8f8c2;
    border-color: #e7e7e7;
}

ul li{
    list-style-type: none;
}

ul.blog-info-decription {
    list-style-type: none;
    margin-bottom: 0em;
}
ul.blog-info-decription li {
    display: inline-block;
    margin-right: 1em;
}
div.blog-content {
    text-indent: 2em;
}
div.blog-more {
    margin-top:1em;
}