{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    INT81 | 首页
{% endblock title %}

{% block home-active %}
    active
{% endblock home-active %}

{% block content %}
    <h3 class="home-content"><img class='home-img' src="{% static 'image/logo3.png' %}">我们是全心全意的全干工程师</h3>
    <!-- 获取图表DOM -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="container"></div>
            </div>
            <div class="col-md-2">
                <h3>今日热门博客</h3>
                <ul class="list-group">
                {% for hot_data in today_hot_data %}
                    <li class="list-group-item">
                        <span class="badge">{{ hot_data.read_num_sum }}</span>
                        <a href="{% url 'blog_detail' hot_data.id %}"> {{ hot_data.title | truncatechars:7 }} </a>
                    </li>
                {% empty %}
                    今天没有热门博客
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
                <h3>昨日热门博客</h3>
                <ul class="list-group">
                {% for hot_data in yesterday_hot_data %}
                    <li class="list-group-item">
                        <span class="badge">{{ hot_data.read_num_sum }}</span>
                        <a href="{% url 'blog_detail' hot_data.id %}"> {{ hot_data.title | truncatechars:7 }} </a>
                    </li>
                {% empty %}
                    昨天没有热门博客
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
                <h3>本周热门博客</h3>
                <ul class="list-group">
                {% for hot_data in week_hot_data %}
                    <li class="list-group-item">
                        <span class="badge">{{ hot_data.read_num_sum }}</span>
                        <a href="{% url 'blog_detail' hot_data.id %}"> {{ hot_data.title | truncatechars:7 }} </a>
                    </li>
                {% empty %}
                    本周没有热门博客
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line',
                backgroundColor: null,
                borderWidth: 1,
                borderColor: '#e1e1e1',
            },
            title: {text: null},
            xAxis: { 
                categories: {{ dates|safe }},
                tickmarkPlacement: 'on',
                title: { text: '前7日阅读计数'},
             },

            yAxis: {
                title: { text: null },
                labels: { enabled:false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }},                    // 数据
                
            }],
            legend: {enabled:false},
            credits: {enabled:false},
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
   
{% endblock content %}

{% block footer %}
    <div id="footer">
        <span>Welcome to visit my website &copy;Warlock921 Blog </span>
        <span> 滇ICP备18002728号-1</span>
    </div>
{% endblock footer %}