{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    INT81 | 注册
{% endblock title %}
{% block home-active %}
    active
{% endblock home-active %}
{% block content %}
    <div class="container">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in reg_form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                </div>
                            {% endfor %}
                            <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
                            <button type="submit" class="btn btn-primary pull-right">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}